body{
  background-color: #fff;
  color: #717171;
}

ul{
  padding-left: 0.1em; }

section {
  max-width: 45em;
  margin: 0 auto;
}

header{
  background-image: url(images/bodyscape2.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: #f0c5b8;
  padding-top: 0.05em;
  padding-bottom: 7.5em;
  margin-bottom: 4em;
}

header::after{
  content : " ";
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)translateY(4em)rotate(45deg);
  background-color: #1F1F1F;
  z-index: -1;
}

.filet{
  content: " ";
  width: 10%;
  border-top: 10px solid #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}

.mywork ul{
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.mywork img{
  width: 100%;
}

.menu{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.menu li{
  max-width: 10em;
  padding: 2em;
  padding-top: 0;
}

.menu a{
  color: #E5E5E5;
  display: block;
  line-height: 30px;
  max-width: 200px;
}

.menu a:after,
.menu a:before{
  border: 1px solid rgba(255, 255, 255, 0);
  content: " ";
  display: block;
  margin: 0 auto;
  width: 0;
}

.menu a:hover:after,
.menu a:hover:before{
  border-color: #E5E5E5;
  transition: width 350ms ease-in-out;
  width: 70%;
  bottom: auto;
}

footer{
  padding: 0.5em;
  background-image: url(images/bodyscape2.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.linklist{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 2em;
  padding-top: 4em;
  padding-bottom: 3.5em;
}

.linklist li{
  padding-left: 4em;
  padding-bottom: 0.5em;
}

.toc{
  max-width: 66em;
  margin: 0 auto;
}

.toc img{
  margin-top: 1.5em;
  margin-bottom: 2em;
  width: 100%;
}

.makis{
  max-width: 66em;
  margin: 0 auto;
}

.makis img{
  margin-top: 1.5em;
  margin-bottom: 2em;
  width: 100%;
}

.backtotop{
  text-align: right;
  padding-bottom: 2em;
  margin-right: 5em;
}

.backtotop img{
  height: 40px;
}

.backtotop img:hover{
  opacity: 0.5;
}

figure{
  width: 250px;
  margin: 10px;
  padding: 0;
	background: #fff;
	overflow: hidden;
  line-height:0;
  display:table;
}

figure img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure img:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  opacity: 0.5;
}

.cv img{
  width: 90%;
  max-width: 34em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
