header{
  text-align: center;
}

p{
  font-family: 'EB Garamond', serif;
  margin: 0 auto;
  margin-top: 0.5em;
  text-indent: 25px;
}

footer{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a:hover{
  color: #fff;
}

h1, h2, h3, h4{
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

h1{
  font-size: 4.5em;
  font-weight: 100;
  letter-spacing: -2px;
  padding-top: 1.5em;
}

h1 strong{
  font-weight: 900;
  letter-spacing: 1px;
}

h2{
  font-size: 2.5em;
  font-weight: 900;
  padding-top: 0.2em;
}

h2:hover{
  color: #ADADAD;
}

h3{
  font-size: 2em;
  font-weight: 900;
}

header h4{
  letter-spacing: 5px;
}

h4{
  margin-top: 2px;
  font-size: 1em;
  font-weight: 300;
  color: #e7bba8;
  text-align: center;
}

a{
  color: #E5E5E5;
  text-decoration: none;
}

.backtotop a{
  color: #ADADAD;
}

.menu{
  color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
